body {
  margin-top: 100px;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  border-bottom: 5px solid rgb(0, 0, 255);
  text-align: center;
  margin: 125px 200px 50px 200px;
  padding-bottom: 15px;
  text-transform: uppercase;
  scroll-margin-top: 105px;
  animation: animacija-naslov 2s normal;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(0, 0, 255);
}

h3{
  font-size: 20px;
}

p{
  font-size: 20px;
}

/*-----------------------ANIMACIJE------------------------*/

@keyframes animacija-naslov {
  0% {
    letter-spacing: 25px;
    margin: 125px 400px 50px 400px;
  }
}
@keyframes animacija-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}

.sekcija-naslov {
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 255);
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#content {
  align-items: center;
  margin: 0 200px 100px 200px;
}

.section {
  padding: 50px 0 50px 0;
  animation: animacija-content 3s normal;
}



.short-caption {
  font-style: italic;
  opacity: 0.5;
  margin: 0;
}
#area-svi {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.area-section {
  padding: 0 15px 0 15px;
}

#karta {
  width: 100%;
  min-height: 200px;
  height: 50vh;
}
iframe {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}
#lokacija-gornji-red {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 15px;
  max-height: fit-content;
  margin-bottom: 25px;
}


/*------------------MEDIA QUERY------------------------*/

@media only screen and (max-width: 1200px) {
  
  #content {
    margin: 0 100px 100px 100px;
  }
}

@media only screen and (max-width: 960px) {
  
  #content {
    margin: 0 50px 100px 50px;
  }
  #area-svi {
    grid-template-columns: 33% 33% 33%;
  }

}

@media only screen and (max-width: 700px) {
  
  h1{
    margin: 100px 50px 0 50px;
  }

  #content {
    margin: 0 20px 100px 20px;
  }

  @keyframes animacija-naslov {
    0% {
      letter-spacing: 25px;
      margin: 100px 0 0 0;

    }
  }

  #lokacija-gornji-red {
    grid-template-columns: 100%;
  }

  #area-svi{
    grid-template-columns: 50% 50%;
  }

}
