@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  z-index: 999;
}

/*----------------------HEADER MALI------------------------------*/

#header-svi-apartmani {
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.apartman {
  font-size: 12px;
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.apartman a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#header-svi-apartmani {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*----------------------HEADER GLAVNI------------------------------*/

#header-glavni {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(0, 0, 255);
}

#header-glavni ul li {
  display: inline;
}
#logo-area {
  font-size: 30px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  margin: 10px 0 10px 40px;
  align-items: center;
  align-self: center;
}
#logo-area a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

#navigacijska-lista {
  position: absolute;
  right: 0;
  margin-right: 70px;
  font-size: 17px;
  font-weight: 600;
}

#navigacijska-lista ul li {
  padding: 0 20px 0 20px;
}

#navigacijska-lista ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#navigacijska-lista ul li a:hover {
  border-bottom: blue 2px solid;
}

.header-icon {
  display: none;
  width: 58px;
}

img {
  width: 100%;
}

#plus {
  position: absolute;
  left: 0;
  padding-left: 40px;
}

#hamburger {
  position: absolute;
  right: 0;
  padding-right: 40px;
}

@keyframes animacija-nav-lista {
  0% {
    margin-left: 700px;
  }
}
@keyframes animacija-apartmani-lista {
  0% {
    margin-left: -800px;
  }
}

/*-------------MEDIA QUERY--------------------*/

@media only screen and (max-width: 700px) {
  #header-svi-apartmani {
    display: none;
  }
  #header-glavni {
    display: flex;
    flex-direction: column;
  }
  #navigacijska-lista {
    position: relative;
    display: none;
    border-top: 1px solid rgb(0, 0, 255);
    margin: 0;
    padding: 0;
    animation: animacija-nav-lista 1s normal;
  }
  #navigacijska-lista ul li {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    left: 0;
  }

  .header-icon {
    display: block;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }
  #header-svi-apartmani {
    position: absolute;
    bottom: 0;
    margin-bottom: -187px;
    width: 100%;
  }
  #header-svi-apartmani .apartman {
    animation: animacija-apartmani-lista 1s normal;
  }
  .apartman {
    font-size: 17px;
    padding: 20px 0 20px 0;
  }
  #logo-area {
    margin-left: 0;
  }
}
@media only screen and (max-width: 400px) {
  #logo-area a {
    font-size: 25px;
  }
  .header-icon {
    width: 40px;
    padding-top: 10px;
  }
}
